@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d33c3c;
    color: white;
}
.form
{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    /* display: none; */
    border-radius: 47px;
    background: #d33c3c;
    box-shadow:  27px 27px 54px #9c2c2c,
             -27px -27px 54px #ff4c4c;
    height: 25rem;
    width: 25rem;
    font-family: 'Forum', serif;
}
.btn{
    padding: 5px 8px;
    margin: 15px 0;
    border-radius: 40px;
    background: #d33c3c;
    box-shadow:  13px 13px 26px #9c2c2c,
                 -13px -13px 26px #ff4c4c;
    border: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    border-radius: 40px;
    background: #d33c3c;
    box-shadow: inset 13px 13px 26px #9c2c2c,
            inset -13px -13px 26px #ff4c4c;
}
.form p{
    margin-bottom: 10px;
    color: gray;
    text-shadow: 1px 1px 1px black;
    display: none;
}
#txt-1{
    margin-bottom: 20px;
}
.time{display: none;}
.watch{
    height: 10rem;
    width: 33rem;
    border-radius: 58px;
    background: #d33c3c;
    box-shadow: inset 21px 21px 45px #942a2a,
            inset -21px -21px 45px #ff4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
#txt-2{
    text-align: center;
    color: white;
    margin: 10px 2px;
    font-family: 'Forum', serif;
}
.hour , .min,.sec{
    height: 6rem;
    width: max-content;
    font-family: 'DS-Digital';
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 6rem;
}
.dot{
    font-size: 6rem;
    width: 4rem;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.ampm{
    height: 4.6rem;
    font-size: 2rem;
    display: flex;
    align-items: end;
    margin-left: 15px;
}
.remain,.time-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hr-remain, .min-remain{
    font-size: 2rem;
    height: 3rem;
    margin-left: 15px;
}
.hr-txt,.min-txt{
    padding: 0 5px;
    height: 1.7rem;
    display: flex;
    align-items: end;
}